.breadcrumb-marker-left {
	text-align: right;
}

.breadcrumb-marker-right {
	text-align: left;
}

.breadcrumb {
	text-align: center;
	background-color: inherit;
	font-family: OpenSansRegular;
}

#filter {
	font-family: OpenSansRegular;
	display:inline-block; 
	vertical-align: top; 
	padding: 15px 30px; 
	min-height: 300px;
	background: none;
	/*font-size: 18px;*/
	width: 20%;
}

#filter li {
	height: 35px;
}

#filter .reset-link {
	color: #444;
	padding: 5px 0px;
	display: inline-block;
}

#filterItems .row a {
	display: block;
	text-align: left;
}

#notationTitle {
	text-align: center;
	font-family: OpenSansCondBold;
}

#notationDescription {
	text-align: justify;
}

#notationDescription > * {
	margin: 15px 0px;
	display: inline-block;
	font-family: OpenSansRegular;
}


#catalog {
	width: 79%; display: 
	inline-block;
}

#tilepagination {
	display: inline-block; 
	text-align: center; 
	padding: 0px 15px
	width: 100%; 
}

.filter-item a {
	text-align: left;
	display: block;
	color: #444;
}

.filter-item a div {
	padding: 5px 0px;
}

.filter-item a div span {
	vertical-align: middle;
}

.filter-item a .marker {
	vertical-align: middle;
	display: none;
}

.empty_letter {
	display: inline-block;
	padding: 10px;
	width: 100%;
}

.tile-item .jumbotron {
	padding: 15px 30px;
	background-color: #fff;
	font-family: OpenSansRegular;
}

.tile-item .row-img {
	text-align: center;
}

.tile-item .row-img img {
	width: 100%; 
	/*height: 225px; 
	display: inline-block; 
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: 50% 50%;*/
}

.tile-item .row-short {
	height: 70px;
}

.tile-item .row-short, .tile-item .row-short * {
	text-align: justify;
	font-size: 14px;
}

.tile-item .row-params {
	margin-bottom: 12px;
	margin-top: 24px;
	/*font-size: 16px*/
}

.tile-item .row-params .cell-weight {
	text-align: left;
	padding: 0px;
}

.tile-item .row-params .cell-sale {
	text-align: center; 
	padding: 0px;
}

.tile-item .row-params .cell-cost {
	text-align: right; 
	padding: 0px;
}

.tile-item .row-controls .btn-buy{
	font-family: OpenSansCondBold;
	/*font-size: 18px;*/
	display: block;
	width: 100%
}

#tilepagination {
	width: 100%
}

.pagination .pagination-item, .pagination .btn-page-prev, .pagination .btn-page-next {
	cursor: pointer;
}

.pagination a {
	border: none!important;
	border-radius: 15px!important;
}

.pagination .active a, .pagination .active a:hover , .pagination .active a:focus {
	background-color: #c13849;
}

.filter-item.active {
	text-decoration: underline;
}

.filter-item.active .marker {
	display: inline-block!important;
}

.in_cart {
    background: #C13849;
    background-color: #C13849;
    color: #fff!important;
}

.in_cart:focus {
    background: #A01C28!important; 
    background-color: #A01C28!important;
    color: #fff!important;
}

.in_cart:hover {
    background: #A01C28!important; 
    background-color: #A01C28!important;
    color: #fff!important;
}
