{% extends "base.html" %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/css/cart/base.css">
	<link rel="stylesheet" href="/static/css/cart/mobile.css">
{% endblock %}

{% block content %}
<div class="container">
	<article id="mainPlaceholder"></article>

	<script id="cartViewTemplate" type="text/template">
		<div id="cartTable">
			<%= body %>
			<div id="delveryInfo" class="table-row">
				<div class="table-cell blank"></div>
				<div class="table-cell blank"></div>
				<div class="title table-cell"><%= delivery_title %></div>
				<div class="table-cell blank"></div>
				<div class="table-cell blank"></div>
				<div class="table-cell blank"></div>
				<div class="cost table-cell"><%= delivery_cost %></div>
			</div>
			<div id="totalInfo" class="table-row">
				<div class="table-cell blank"></div>
				<div class="table-cell blank"></div>
				<div class="table-cell blank"></div>
				<div class="table-cell blank"></div>
				<div class="table-cell blank"></div>
				<div class="table-cell col-xs-6"><b>Итого</b></div>
				<div class="total-cost table-cell">
					<b><%= total_cost %></b>
					<span>руб.</span>
				</div>
			</div>
		</div>
		<div class="delivery-selector">
			<span>Выберите способ доставки:</span>
			<select>
				{% for option in page.delivery_methods.all %}
					<option value="{{ option.cost }}" name="{{ option.title }}">
						{{ option.title }} - {{ option.cost }} руб.
					</option>
				{% endfor %}
			</select>
		</div>
		<div class="checkout-btn-panel">
			<a id="checkoutBtn" href="#client" class="btn btn-default">Оформить заказ</a>
		</div>
	</script>

	<script id="cartItemTemplate" type="text/template">
		<div id="<%= id %>" class="table-row">
			<div class="table-cell number"><%= number %></div>
			<div class="table-cell">
				<a href="/teas/detail/<%= id %>">
					<div class="cell-img" style="background-image: url(<%= image.file %>);"></div>
				</a>
			</div>
			<div class="table-cell"><%= title %></div>
			<div class="table-cell">
				<span class="items-weight"><%= items_weight %> гр.</span>
			</div>
			<div class="table-cell">
				<div class="col-xs-12">
					<div class="col-xs-4">
						<button type="button" name="<%= id %>" class="btn btn-link btn-decrease">
							<img name="<%= id %>" src="/static/icons/left.png" alt="<">
						</button>
					</div>
					<div class="col-xs-4">
						<span class="amount"><%= amount %></span>
					</div>
					<div class="col-xs-4">
						<button type="button" name="<%= id %>" class="btn btn-link btn-increase">
							<img name="<%= id %>" src="/static/icons/right.png" alt=">">
						</button>
					</div>
				</div>
			</div>
			<div class="table-cell">
				<button type="button" name="<%= id %>" class="btn btn-link btn-remove">
					<img name="<%= id %>" src="/static/icons/delete.png" alt="x">
					<span name="<%= id %>">Удалить</span>
				</button>
			</div class="table-cell">
			<div class="items-cost table-cell"><%= items_cost %> руб.</div>
		</div>
	</script>

	<script id="clientViewTemplate" type="text/template">
		<form action="/payment/" class="form-horizontal" method="POST">
			{% csrf_token %}
			<div class="form-group btn-panel">
				<a href="#back" class="btn btn-default">Вернуться в корзину</a>
			</div>
			<div class="form-group">
				<label for="client_surname" class="col-md-2 col-xs-4 control-label">Фамилия</label>
				<div class="col-md-10 col-xs-8">
					<input id="client_surname" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">
				<label for="client_name" class="col-md-2 col-xs-4 control-label">Имя</label>
				<div class="col-md-10 col-xs-8">
					<input id="client_name" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">
				<label for="client_patronymic" class="col-md-2 col-xs-4 control-label">Отчество</label>
				<div class="col-md-10 col-xs-8">
					<input id="client_patronymic" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">
				<label for="client_phone" class="col-md-2 col-xs-4 control-label">Номер телефона</label>
				<div class="col-md-10 col-xs-8">
					<input id="client_phone" class="form-control" type="tel" required>
				</div>
			</div>
			<div class="form-group">
				<label for="client_email" class="col-md-2 col-xs-4 control-label">Электронная почта</label>
				<div class="col-md-10 col-xs-8">
					<input id="client_email" class="form-control" type="email" required>
				</div>
			</div>
			<div class="form-group">
				<label for="client_address" class="col-md-2 col-xs-4 control-label">Адрес</label>
				<div class="col-md-10 col-xs-8">
					<textarea id="client_address" class="form-control" rows="3" required></textarea>
				</div>
			</div>
			<div class="form-group btn-panel">
				<button type="submit" class="btn btn-default btn-buy">Оплатить</button>
			</div>
		</form>
	</script>
</div>


{% endblock %}


{% block extra_js %}
	<script type="text/javascript">
		const default_delivery_title = '{{ page.delivery_methods.first.title }}'
		const default_delivery_cost = '{{ page.delivery_methods.first.cost }}'
		const min_total_cost = '{{ page.min_total }}' == 'None' ? 0 : {{ page.min_total }}
	</script>
	<script type="text/javascript" src="/static/js/cart/cartview.js"></script>
	<script type="text/javascript" src="/static/js/cart/clientview.js"></script>
	<script type="text/javascript" src="/static/js/cart/router.js"></script>
{% endblock %}
