@media (max-width: 530px) {
    #catalog {
        width: 100%!important;
    }

    #filter {
        min-height: auto!important;
        width: 100%!important;
    }

}

@media (min-width: 530px) and (max-width: 750px) {
    #filter {
        width: 40%!important;
    }

    #catalog {
        width: 59%!important;
    }
}

@media (max-width: 750px) {
    .container-breadcrumb {
        margin-top: 120px;
    }

    .breadcrumb-marker {
        display: none;
    }
}