{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/css/teas/base.css">
	<link rel="stylesheet" href="/static/css/teas/mobile.css">
{% endblock %}

{% block content %}

	<div class="container">
		<div class="container container-breadcrumb">
			<div class="col-xs-4 breadcrumb-marker breadcrumb-marker-left">
				<img src="/static/icons/breadcrumbs_mark.png" alt="-">
			</div>
			<ol class="col-xs-12 col-sm-4 breadcrumb">
				<li><a href="/">Главная</a></li>
				<li><a href="/#group/{{object.group.id }}">{{ object.group }}</a></li>
				<li class="active">{{ object.title }}</li>
			</ol>
			<div class="col-xs-4 breadcrumb-marker breadcrumb-marker-right">
				<img src="/static/icons/breadcrumbs_mark.png" alt="-">
			</div>
		</div>

		<h1 class="title">{{ object.title }}</h1>

		<div class="row info-panel">
			<div class="col-sm-4">
				{% image object.image fill-350x350 as item_image %}
				<div class="img-panel" style=" background-image: url({{ item_image.url }});"></div>
			</div>

			<div class="col-sm-8" >
				<div class="row row-description">{{ object.description|richtext }}</div>
				<div class="row row-parameters">
					<div class="col-xs-4 cell-weight">
						<i>{{ object.weight }} гр.</i>
					</div>
					<div class="col-xs-4 cell-last-cost">
					{% if object.sale and object.sale != ''  %}
						<s>{{ object.cost }} гр.</s>
					{% endif %}
					</div>
					<div class="col-xs-4 cell-now-cost">
					{% if object.sale and object.sale != '' %}
						<b>{{ object.sale }} руб.</b>
					{% else %}
						<b>{{ object.cost }} руб.</b>
					{% endif %}
					</div>
				</div>
			</div>
		</div>

		<div class="row row-controls">
			<div id="buyPanel"></div>
		</div>

		<script id="buyPanelTemplate" type="text/template">
			<div class="col-sm-4 col-xs-12 panel">
				<div class="col-xs-4">
					<button type="button" class="btn btn-link btn-decrease">
						<img src="/static/icons/left.png" alt="<">
					</button>
				</div>
				<div class="col-xs-4">
					<span class="number cell-value"><%= value %></span>
				</div>
				<div class="col-xs-4">
					<button type="button" class="btn btn-link btn-increase">
						<img src="/static/icons/right.png" alt=">">
					</button>
				</div>
			</div>
			<div class="col-sm-8 col-xs-12 panel">
				<input class="btn btn-default btn-buy <%= status %>" name="{{ object.id }}" type="button" value="Добавить в корзину">
			</div>
		</script>

	</div>
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		const item_id = {{ object.id }}
	</script>

	<script type="text/javascript" src="/static/js/teas/teaview.js"></script>
{% endblock %}