{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/css/home/base.css">
	<link rel="stylesheet" href="/static/css/home/full.css">
	<link rel="stylesheet" href="/static/css/home/middle.css">
	<link rel="stylesheet" href="/static/css/home/mobile.css">
{% endblock %}

{% block content %}

	<div id="catalogBody" class="container">
		<div class="container container-breadcrumb">
			<div class="col-xs-4 breadcrumb-marker breadcrumb-marker-left">
				<img src="/static/icons/breadcrumbs_mark.png" alt="-">
			</div>
			<ol class="col-xs-12 col-sm-4 breadcrumb"></ol>
			<div class="col-xs-4 breadcrumb-marker breadcrumb-marker-right">
				<img src="/static/icons/breadcrumbs_mark.png" alt="-">
			</div>
		</div>
		<h2 id="notationTitle"></h2>

		<aside id="filter" class="jumbotron collapse">
			<div class="row">
				<a class="reset-link" href="#">АССОРТИМЕНТ ЧАЯ</a>
			</div>
			<ul id="filterItems" class="nav nav-navbar nav-stacked">
				
			</ul>
		</aside>

		<div id="catalog">
			<div id="notationDescription"></div>
			<div id="tileItems"></div>
			<nav id="tilepagination">
			</nav>
		</div>
	</div>

	<script id="breadcrumbTemplate" type="text/template">
		<% if (selected_group) { %>
			<li class="active"> <a href="#">{{ page.title }}</a></li>
			<li class="active"><%= selected_group %></li>
		<% } else { %>
			<li class="active">{{ page.title }}</li>
		<% } %>
	</script>

	<script id="filterItemtemplate" type="text/template">
		<div id="group_<%= id %>" class="filter-item <%= is_active %>">
			<a href="#group/<%= id %>">
				<div class="col-xs-3 col-sm-3">
					<img class="marker" src="/static/icons/list_red_mark.png" alt="-">
				</div>
				<div class="col-xs-9 col-sm-9">
					<span><%= title %></span>
				</div>
			</a>	
		</div>
	</script>

	<script id="tileItemTemplate" type="text/template">
		<div class="jumbotron">
			<div class="row row-img">
				<a href="/teas/detail/<%= id %>">
					<div class="img-panel" style="background-image: url(<%= image.file %>); "></div>
				</a>
			</div>
			<div class="row row-title">
				<strong><%= title %></strong>
			</div>
			<div class="row row-short">
				<%= short %>
			</div>
			<div class="row row-params">
				<div class="col-xs-4 cell-weight">
					<i><%= weight %> гр.</i>
				</div>
				<div class="col-xs-4 cell-sale">
					<% if (sale) { %>
						<s><%= cost %> руб.</s>
					<% } %>
				</div>
				<div class="col-xs-4 cell-cost">
					<% if (sale) { %>
						<strong><%= sale %> руб.</strong>
					<% } else { %>
						<strong><%= cost %> руб.</strong>
					<% } %>
				</div>
			</div>
			<div class="row row-controls">
				<input class="btn btn-default btn-buy <%= status %>" name="<%= id %>" type="button" value="Купить">
			</div>
		</div>
	</script>

	<script id="teaCollectionEmptyTemplate" type="text/template">
		<span class="empty_letter">Доступных товаров для продажи не найдено.</span>
	</script>

	<script id="paginationItemTemplate" type="text/template">
		<li class="<%= is_active %> pagination-item">
			<a class="btn-page" href="#<%= url %>"><%= number %></a>
		</li>
	</script>

	<script id="paginationTemplate" type="text/template">
		<ul class="pagination">
			<li class="btn-page btn-page-prev <%= prev_class %>">
				<a aria-label="Previous" href="#<%= prev_url %>">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
		</ul>
		<ul class="pagination pagination-body"></ul>
		<ul class="pagination">
			<li class="btn-page btn-page-next <%= next_class %>">
				<a aria-label="Next" href="#<%= next_url %>">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</script>

{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		const tea_api_url = '/api/teas/{{ page.get_param_string }}'
		const default_title = '{{ page.title }}'
		const row_default_description = '{{ page.description }}'
		const default_description = '{{ page.description|richtext }}'
	</script>

	<script type="text/javascript" src="/static/js/home/collections.js"></script>

	<script type="text/javascript" src="/static/js/home/teaview.js"></script>
	<script type="text/javascript" src="/static/js/home/groupview.js"></script>
	<script type="text/javascript" src="/static/js/home/notationview.js"></script>
	<script type="text/javascript" src="/static/js/home/paginationview.js"></script>
	<script type="text/javascript" src="/static/js/home/breadcrumbview.js"></script>

	<script type="text/javascript" src="/static/js/home/router.js"></script>
{% endblock %}
