h1 {
	font-family: OpenSansCondBold;
	text-align: center;
}

h2 {
	font-family: OpenSansCondBold;
	text-align: center;
	display: block;
	width: 100%;
}

article {
	text-align: justify;
	text-indent: 2em; 
	margin: 40px 0px; 
}

article * {
	font-family: OpenSansRegular;
}

#partners-panel {
	text-align: justify; 
	text-align-last: center;
}

#partners-panel * {
	font-family: OpenSansRegular;
}

.container.root {
	padding: 0px;
	width: auto;
}
