{% extends 'base.html' %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/info/css/build/info.min.css">
	<!-- <link rel="stylesheet" href="/static/css/delivery/mobile.css"> -->
{% endblock %}

{% block content %}
	<div class="container">
		{% if page.h1_tilte %}
			<h1 class="title">{{ page.h1_tilte }}</h1>
		{% else %}
			<h1 class="title">{{ page.title }}</h1>
		{% endif %}
		{% include_block page.body %}
	</div>
{% endblock %}