{% extends 'base.html' %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/tea/css/build/tea.min.css">
{% endblock %}

{% block content %}

	<div class="container">
		<div class="container container-breadcrumb">
			<div class="col-xs-4 breadcrumb-marker breadcrumb-marker-left">
				<img src="/static/icons/breadcrumbs_mark.png" alt="-">
			</div>
			<ol class="col-xs-12 col-sm-4 breadcrumb">
				<li><a href="{{ root.url }}">{{ root.title }}</a></li>
				{% set parent = page.get_parent() %}
				<li><a href="{{ parent.url }}">{{ parent.title }}</a></li>
				<li class="active">{{ page.title }}</li>
			</ol>
			<div class="col-xs-4 breadcrumb-marker breadcrumb-marker-right">
				<img src="/static/icons/breadcrumbs_mark.png" alt="-">
			</div>
		</div>

		
		{% if page.h1_tilte %}
			<h1 class="title">{{ page.h1_tilte }}</h1>
		{% else %}
			<h1 class="title">{{ page.title }}</h1>
		{% endif %}
		<div class="row info-panel">
			<div class="col-sm-4 img-panel">
				{% set feed_image = image(page.image, 'fill-240x240') %}
				<img src="{{ feed_image.url }}" alt="{{ feed_image.alt }}">
			</div>

			<div class="col-sm-8" >
				<div class="row row-description">{{ page.description|richtext }}</div>
				<div class="row row-parameters">
					<div class="col-xs-4 cell-weight">
						<i>{{ page.weight }} гр.</i>
					</div>
					<div class="col-xs-4 cell-last-cost">
					{% if page.sale and page.sale != ''  %}
						<s>{{ page.cost }} гр.</s>
					{% endif %}
					</div>
					<div class="col-xs-4 cell-now-cost">
					{% if page.sale and page.sale != '' %}
						<b>{{ page.sale }} руб.</b>
					{% else %}
						<b>{{ page.cost }} руб.</b>
					{% endif %}
					</div>
				</div>
			</div>
		</div>

		<div class="row row-controls">
			<div id="buyPanel"></div>
		</div>

		<script id="buyPanelTemplate" type="text/template">
			<div class="col-sm-4 col-xs-12 panel">
				<div class="col-xs-4">
					<button type="button" class="btn btn-link btn-decrease">
						<img src="/static/icons/left.png" alt="<">
					</button>
				</div>
				<div class="col-xs-4">
					<span class="number cell-value"><%= value %></span>
				</div>
				<div class="col-xs-4">
					<button type="button" class="btn btn-link btn-increase">
						<img src="/static/icons/right.png" alt=">">
					</button>
				</div>
			</div>
			<div class="col-sm-8 col-xs-12 panel">
				<input class="btn btn-default btn-buy <%= status %>" name="{{ page.id }}" type="button" value="Добавить в корзину">
			</div>
		</script>

	</div>
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		const item_id = {{ page.id }}
	</script>
	<script type="text/javascript" src="/static/tea/js/build/tea.min.js"></script>
{% endblock %}