{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/css/home/base.css">
	<link rel="stylesheet" href="/static/css/home/full.css">
	<link rel="stylesheet" href="/static/css/home/middle.css">
	<link rel="stylesheet" href="/static/css/home/mobile.css">
{% endblock %}

{% block content %}

	<div id="catalogBody" class="container">
		<div class="container container-breadcrumb">
			<div class="col-xs-4 breadcrumb-marker breadcrumb-marker-left">
				<img src="/static/icons/breadcrumbs_mark.png" alt="-">
			</div>
			<ol class="col-xs-12 col-sm-4 breadcrumb">
				<li class="active">{{ page.title }}</li>
			</ol>
			<div class="col-xs-4 breadcrumb-marker breadcrumb-marker-right">
				<img src="/static/icons/breadcrumbs_mark.png" alt="-">
			</div>
		</div>
		<h1 id="notationTitle">
		{% if page.h1_title %}
			{{ page.h1_title }}
		{% else %}
			{{ page.title }}
		{% endif %}
		</h1>

		<aside id="filter" class="jumbotron collapse">
			<ul id="filterItems" class="nav nav-navbar nav-stacked"></ul>
		</aside>

		<div id="catalog">
			<div id="notationDescription">
				{{ page.description|richtext }}
			</div>
			<div id="tileItems"></div>
			<nav id="tilepagination">
			</nav>
		</div>
	</div>

	<script id="filterItemTemplate" type="text/template">
		<b><%= title %></b>
		<% $.each(options, function(index, option) { %>
			<label class="col-xs-9 col-xs-offset-3" style="padding: 0px;">
				<% if (~filters_string.indexOf(field_name + '=' + option.value )) { %>
					<input type="checkbox" checked class="btn-filter" name="<%= field_name %>" value="<%= option.value %>">
				<% } else { %>
					<input type="checkbox" class="btn-filter" name="<%= field_name %>" value="<%= option.value %>">
				<% } %>
				<%= option.label %>
			</label>
		<% }) %>
	</script>

<!-- 	<script id="childrenItemtemplate" type="text/template">
		<div id="child_<%= id %>" class="filter-item {% if page.url.startswith(page.url) %}active{% endif %}">
			<a href="#group/<%= id %>">
				<div class="col-xs-3 col-sm-3">
					<img class="marker" src="/static/icons/list_red_mark.png" alt="-">
				</div>
				<div class="col-xs-9 col-sm-9">
					<span><%= title %></span>
				</div>
			</a>	
		</div>
	</script>
 -->
	<script id="tileItemTemplate" type="text/template">
		<div class="jumbotron">
			<div class="row row-img">
				<a href="<%= url %>">
					<img src="<%= image_url %>" alt="<%= image_alt %>" style="width:100%; max-width: 150px;">
				</a>
			</div>
			<div class="row row-title">
				<strong><%= title %></strong>
			</div>
			<div class="row row-short">
				<%= short %>
			</div>
			<div class="row row-params">
				<div class="col-xs-4 cell-weight">
					<i><%= weight %> гр.</i>
				</div>
				<div class="col-xs-4 cell-sale">
					<% if (sale) { %>
						<s><%= cost %> руб.</s>
					<% } %>
				</div>
				<div class="col-xs-4 cell-cost">
					<% if (sale) { %>
						<strong><%= sale %> руб.</strong>
					<% } else { %>
						<strong><%= cost %> руб.</strong>
					<% } %>
				</div>
			</div>
			<div class="row row-controls">
				<input class="btn btn-default btn-buy <%= status %>" name="<%= id %>" type="button" value="Купить">
			</div>
		</div>
	</script>

	<script id="teaCollectionEmptyTemplate" type="text/template">
		<span class="empty_letter">Доступных товаров для продажи не найдено.</span>
	</script>

	<script id="paginationItemTemplate" type="text/template">
		<li class="<%= is_active %> pagination-item">
			<a class="btn-page" href="#<%= url %>"><%= number %></a>
		</li>
	</script>

	<script id="paginationTemplate" type="text/template">
		<ul class="pagination">
			<li class="btn-page btn-page-prev <%= prev_class %>">
				<a aria-label="Previous" href="#<%= prev_url %>">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
		</ul>
		<ul class="pagination pagination-body"></ul>
		<ul class="pagination">
			<li class="btn-page btn-page-next <%= next_class %>">
				<a aria-label="Next" href="#<%= next_url %>">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</script>

{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		const item_api_url = '/api/v1/pages/?type=tea.TeaPage&fields={{ page.data_model.page_fields }}&descendant_of={{ page.id }}&limit={{ page.data_model.limit }}'
		const item_api_limit = {{ page.data_model.limit }}
		const filter_api_url = '/api/filters/?data_model={{ page.data_model.id }}'
	</script>

	<script type="text/javascript" src="/static/js/home/filters/collections.js"></script>
	<script type="text/javascript" src="/static/js/home/filters/views.js"></script>

	<script type="text/javascript" src="/static/js/home/items/collections.js"></script>
	<script type="text/javascript" src="/static/js/home/items/views.js"></script>

	<script type="text/javascript" src="/static/js/home/pagination/views.js"></script>

	<script type="text/javascript" src="/static/js/home/router.js"></script>
{% endblock %}
