{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/css/home/base.css">
	<link rel="stylesheet" href="/static/css/home/full.css">
	<link rel="stylesheet" href="/static/css/home/middle.css">
	<link rel="stylesheet" href="/static/css/home/mobile.css">
{% endblock %}

{% block content %}

{% endblock %}

{% block extra_js %}

{% endblock %}
