
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
        </title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="{% block search_description %}{{ page.search_description }}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{{ page.keywords }}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script type="text/javascript" src="/static/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <script type="text/javascript" src="/static/underscore/underscore.js"></script>
        <script type="text/javascript" src="/static/backbone/backbone.js"></script>
        <script type="text/javascript" src="/static/js.cookies/js.cookies.js"></script>

        {# Global stylesheets #}

        <link rel="stylesheet" type="text/css" href="/static/css/build/master.min.css">

        <link rel="icon" href="/static/icons/favicon.ico">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {{ wagtailuserbar() }}

        <div role="navigation" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <div class="col-xs-2">
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    {% set root = page.get_site().root_page %}
                    <div class="navbar-brand col-xs-8 col-sm-12">
                        <div id="header-logo" class="col-sm-4 col-xs-12 col-sm-offset-4">
                            <a href="{{ root.url }}" data-placement="bottom">
                                <img src="/static/icons/logo.png" alt="КИТАЙ РЯДОМ">
                            </a>
                        </div>
                        <div id="header-phones" class="col-sm-4">
                            <div class="phones-table">
                                <div class="phone-row">
                                    <span class="phone-cell">88002343988</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="cartpage"></div>      
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    {% for menu_page in root.get_children() %}
                        {% if menu_page.show_in_menus %}
                        <li class="{{ menu_page.content_type.model }} {% if page.url.startswith(menu_page.url) %}active{% endif %}">
                            <a href="{{ menu_page.url }}">
                                {{ menu_page.title.upper() }}
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {% block prevent_scripts %}{% endblock %}

        <script id="cartTemplate" type="text/template">
            <div class="cart">
                <a href="/cart">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                </a>
                <span class="badge"><%= length %></span>
            </div>
        </script>

        <script type="text/javascript" src="/static/js/build/master.min.js"></script>

        <!-- <div class="container"> -->
        <div style="min-height: 100%">
            {% block content %}{% endblock %}
        </div>
        <!-- </div> -->

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="col-sm-4 col-xs-12 footer-info">
                    <strong>ИНТЕРНЕТ-МАГАЗИН "КИТАЙ РЯДОМ"</strong>
                    <ul>
                        <li>ИП Винокуров А.В.</li>
                        <li>ОГРН 315246800001502</li>
                        <li>ИНН 246409273087</li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 footer-info">
                    <strong>КОНТАКТЫ</strong>
                    <ul class="contacts-panel">
                        <li>
                            <span class="col-xs-1 icon-panel">
                                <i class="glyphicon glyphicon-map-marker"></i>
                            </span>
                            <span class="col-xs-11">Красноярск, Шахтеров 35/2 стр.19</span>
                        </li>
                        <li>
                            <span class="col-xs-1 icon-panel">
                                <i class="glyphicon glyphicon-earphone"></i>
                            </span>
                            <span class="col-xs-11">88002343988</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 footer-info">
                    <strong>ПЛАТЕЖНЫЕ СИСТЕМЫ</strong>
                    <ul>
                        <li><img src="/static/icons/yandex_icon.png" alt="Яндекс Деньги"></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
