.breadcrumb-marker-left {
	text-align: right;
}

.breadcrumb-marker-right {
	text-align: left;
}

.breadcrumb {
	text-align: center;
	background-color: inherit;
	font-family: OpenSansRegular;
}

.title {
	display: block; 
	text-align: center;
	font-family: OpenSansCondBold;
}

.info-panel *{
	font-family: OpenSansRegular;
}

.img-panel {
	text-align: center;
}

.row-description {
	padding: 0px 15px;
	text-align: justify; 
}

.row-parameters {
	text-align: left
	padding: 0px 10px;
	padding: 0px 15px;
	margin: 20px -30px;
}

.cell-weight {
	text-align: left;
}

.cell-last-cost {
	text-align: center;
}

.cell-now-cost {
	text-align: right;
}

.row-controls {
	margin-top: 20px; 
	padding: 0px 15px;
	text-align: center;
	font-family: OpenSansCondBold;
}

.btn-decrease, .btn-increase {
	padding: 3px 12px;
}

.cell-value {
	display: inline-block; padding: 7px;
}

.in_cart {
    background: #C13849;
    background-color: #C13849;
    color: #fff!important;
}


.in_cart:focus, .in_cart:hover {
    background: #A01C28!important; 
    background-color: #A01C28!important;
    color: #fff!important;
}
