{% load menu_tags wagtailcore_tags %}
{% get_site_root as site_root %}

<div role="navigation" class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <div class="col-xs-2">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-brand col-xs-8 col-sm-12">
                <div id="header-logo" class="col-sm-4 col-xs-12 col-sm-offset-4">
                    <a href="{% pageurl site_root %}" title="{{ site_root.title }}" data-placement="bottom">
                        <img src="/static/icons/logo.png" alt="КИТАЙ РЯДОМ">
                    </a>
                </div>
                <div id="header-phones" class="col-sm-4">
                    <div class="phones-table">
                        <div class="phone-row">
                            <span class="phone-cell">88002343988</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="cart-placeholder"></div>      
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% if calling_page.url == site_root.url %}active{% endif %}">
                <a href="/"><b>{{ site_root.title.upper }}</b></a></li>
                {% for menuitem in menuitems %}
                    <li class="{% if menuitem.show_dropdown %}dropdown{% endif %}{% if menuitem.active %} active{% endif %}">
                        {% if menuitem.show_dropdown %}
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ menuitem.title }} <b class="caret"></b></a>
                            {% top_menu_children parent=menuitem %}
                        {% else %}
                            <a href="{% pageurl menuitem %}"><b>{{ menuitem.title.upper }}</b></a>
                        {% endif %}
                    </li>       
                {% endfor %}
                <li class="cart-placeholder"></li>
            </ul>
        </div>
    </div>
</div>
