{% load menu_tags static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script type="text/javascript" src="/static/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <script type="text/javascript" src="/static/underscore/underscore.js"></script>
        <script type="text/javascript" src="/static/backbone/backbone.js"></script>
        <script type="text/javascript" src="/static/js.cookies/js.cookies.js"></script>

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="/static/css/app.css">
        <link rel="stylesheet" type="text/css" href="/static/css/menu/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/menu/full.css">
        <link rel="stylesheet" type="text/css" href="/static/css/menu/middle.css">
        <link rel="stylesheet" type="text/css" href="/static/css/menu/mobile.css">
        <link rel="stylesheet" type="text/css" href="/static/css/footer/base.css">
        <link rel="icon" href="/static/icons/favicon.ico">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}

        <script id="cartTemplate" type="text/template">
            <div class="cart">
                <a href="/cart">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                </a>
                <span class="badge"><%= length %></span>
            </div>
        </script>

        <script type="text/javascript" src="/static/js/menuview.js"></script>

        <!-- <div class="container"> -->
        <div style="min-height: 100%">
            {% block content %}{% endblock %}
        </div>
        <!-- </div> -->

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="col-sm-4 col-xs-12 footer-info">
                    <strong>ИНТЕРНЕТ-МАГАЗИН "КИТАЙ РЯДОМ"</strong>
                    <ul>
                        <li>ИП Винокуров А.В.</li>
                        <li>ОГРН 315246800001502</li>
                        <li>ИНН 246409273087</li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 footer-info">
                    <strong>КОНТАКТЫ</strong>
                    <ul class="contacts-panel">
                        <li>
                            <span class="col-xs-1 icon-panel">
                                <i class="glyphicon glyphicon-map-marker"></i>
                            </span>
                            <span class="col-xs-11">Красноярск, Шахтеров 35/2 стр.19</span>
                        </li>
                        <li>
                            <span class="col-xs-1 icon-panel">
                                <i class="glyphicon glyphicon-earphone"></i>
                            </span>
                            <span class="col-xs-11">88002343988</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 footer-info">
                    <strong>ПЛАТЕЖНЫЕ СИСТЕМЫ</strong>
                    <ul>
                        <li><img src="/static/icons/yandex_icon.png" alt="Яндекс Деньги"></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
