#header-logo img {
	width: 150px;
}

#header-phones {
	display: none; 
	text-align: right;
	font-family: OpenSansRegular;
	font-size: 16px;
}

.phones-table {
	color: #444;
	display: table; 
	width: 100%; 
	height: 70px
}

.phones-table .phone-row{
	display: table-row;
}

.phones-table .phone-row .phone-cell {
	display: table-cell;
	vertical-align: middle;
}

.navbar-header .cartpage {
	display: none;
	right: 0px;
}

.cart {
	text-align: right;
}

.cart a {
    color: #777;
    display: inline-block!important;
    padding-right: 0px!important;
}
    /*z-index: -1;*/

.cart a i {
    font-size: 1.5em;
}

.cart .badge {
	z-index: 100;
    font-size: 0.75em;
    margin-left: -13px;
    margin-bottom: -5px;
    vertical-align: bottom;
    background-color: #c13849
}

.navbar.navbar-default{
	background-image: url('/static/icons/head.png');
	background-color: white;
	background-repeat: repeat-x;
}

.nav.navbar-nav {
	background: #fff;
}

.nav.navbar-nav li {
	/*font-size: 18px;*/
	min-width: 115px;
	font-family: OpenSansCondBold;
}

.nav.navbar-nav li.active {
    background-image: url('/static/icons/menu_mark.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

.nav.navbar-nav li.active a:hover {
	background: none
}

.nav.navbar-nav li.active a {
    background: none
}

.nav.navbar-nav li.cartpage.active {
	background: transparent;
}
