@media (min-width: 768px) {
    .navbar.navbar-default {
        /*background: none;*/
        border: none;
    }

    .navbar-header {
        width: 100%;
        text-align: center;
    }

    .navbar-brand {
        float: none;
        height: 95px;
    }

    #header-phones {
        display: inline-block!important;
        vertical-align: middle;
    }

    #header-logo {
        padding: 0px 15px;
        display: inline-block;
        vertical-align: middle;
    }

    .navbar-nav {
        width: 100%;
        text-align: justify;
        text-align-last: center;
    }

    .navbar-nav li {
        float: none;
        display: inline-block;
    }

    .nav.navbar-nav.fixed {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.8);
    }
}