@media (max-width: 750px) {
    #header-logo {
        text-align: center;
    }

    .navbar.navbar-default {
        position: fixed;
        z-index: 100;
        width: 100%;
    }

    .navbar-nav .cartpage {
        display: none;
    }

    .navbar-header .cartpage {
        display: table!important;
        height: 100px;
        float: right;
    }

    .cart {
        display: table-cell;
        vertical-align: middle;
        min-width: 35px;
    }

    .navbar-brand {
        height: 100px;
    }

    button.navbar-toggle {
        float: left;
        margin-top: 33px;
        margin-right: 0px;
    }

    .cart a i {
        font-size: 1.25em!important;
    }

    .cart .badge {
        font-size: 0.6em!important;
    }

    .nav.navbar-nav li a {
        font-weight: 700;
    }

    .nav.navbar-nav li.active {
        background-color: #c13849;
    }

    .nav.navbar-nav li.active a {
        color: white;
    }

    .nav.navbar-nav li.active a:hover {
        color: white;
    }
}
