html {
	height: 100%;
}

body {
	height: 100%;
}

footer.footer {
	background-color: #4D4D4D;
	padding: 15px 0px;
	position: static;
	color: #fff;
	width: 100%;
	bottom: 0;
}

footer .footer-info ul {
	font-family: OpenSansCondBold;
	padding: 0px;
}

footer .footer-info li {
	font-family: OpenSansRegular;
	text-align: left;
	display: block;
}

footer .contacts-panel span {
	padding: 0px;
}
