<div style="text-align: center;" class="col-xs-12 col-sm-6 col-md-4">
	{% if value.url %}
		<a href="{{ value.url }}">
			{{ image(value.image, 'fill-320x160', class='row', style='width:100%') }}
			<h4 style="color: #333;">{{ value.title }}</h4>
		</a>
	{% else %}
		{{ image(value.image, 'fill-320x160', class='row', style='width:100%') }}
		<h4 style="display: block; text-align: center; color: #333;">{{ value.title }}</h4>
	{% endif %}
</div>