#cartTable {
	width: 100%;
	display: table;
	text-align: center;
	vertical-align: middle;
	font-family: OpenSansRegular;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.number {
	padding: 0px 10px;
}

.btn-decrease, .btn-increase {
	padding: 3px 12px;
}

.btn-remove, .btn-remove:hover, .btn-remove:focus {
	color: #c4343a;
}

#delveryInfo .table-cell {
	padding: 20px 0px;
}


#totalInfo .table-cell {
	padding: 20px 0px;
}

.delivery-selector span {
	width: 100%;
	display: block;
	text-align: left;
	padding: 20px 0px;
}

.delivery-selector {
	width: 100%;
	display: block;
	text-align: left;
}

#totalInfo * {
	font-weight: 700;
}

.checkout-btn-panel {
	padding: 20px 0px;
	text-align: center;
	font-family: OpenSansCondBold;
}

#checkoutBtn {
	background-color: #C13849;
	color: white;
}

.checkout-btn-panel .checkout-btn, 
.checkout-btn-panel .checkout-btn:hover, 
.checkout-btn-panel .checkout-btn:focus  {
	background-color: #C13849
}

.cell-img {
	width: 120px; 
	height: 120px; 
	display: inline-block;
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: 50% 50%;
}

.amount {
	display: inline-block; padding: 7px;
}

.btn-panel {
	text-align: center;
}

.btn-buy, .btn-buy:hover, .btn-buy:focus {
	font-family: OpenSansCondBold;
	background-color: #C13849;
	color: white;
}
