@media (max-width: 750px) {
	article {
		margin: 120px 0px;
	}

	#cartTable {
		display: block;
	}

	.table-row {
		display: block;
	}

	.table-cell {
		display: block;
	}

	.table-cell.blank{
		display: none;
	}

	.table-cell.number {
		text-align: left;
		/*display: none;*/
	}

	.table-cell.image img{
		max-width: unset!important;
		width: auto!important;
	}

	.table-cell.title {
		text-align: justify;
		margin: 10px 0px;
	}

	.table-cell.weight {
		display: inline-block;
		width: 30%;
	}

	.table-cell.amnt {
		display: inline-block;
		width: 60%;
	}

	.btn-decrease, .btn-increase {
		padding: 0px;
	}


	.table-cell .amount {
		padding: 4px 8px;
	}

	.table-cell.remove {
		text-align: left;
		margin: 10px 0px;
	}

	.items-cost.table-cell {
		text-align: right;
		font-weight: 700;
		border-bottom: 1px solid #333;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}

	#delveryInfo .table-cell.title {
		display: inline-block;
		text-align: left;
		width: 60%
	}

	#delveryInfo .table-cell.cost {
		display: inline-block;
		text-align: right;
		width: 38%		
	}

	.table-cell.total-title {
		text-align: left;
	}

	.total-cost.table-cell {
		text-align: right;
	}

	#delveryInfo {
		border-bottom: 1px solid #333; 
	}

	.delivery-selector select {
		width: 100%;
	}
}
