{% extends "base.html" %}

{% block extra_css %}

	<link rel="stylesheet" href="/static/cart/css/build/cart.min.css">
	<!-- <link rel="stylesheet" href="/static/css/cart/base.css"> -->
	<!-- <link rel="stylesheet" href="/static/css/cart/mobile.css"> -->
	<style type="text/css">
		#customerForm input[type='phone'], #customerForm input[type='email'], #customerForm input[type='text'], #customerForm textarea {
			width: 100%;
		}
	</style>
{% endblock %}

{% block content %}
<div class="container">
	<article id="mainPlaceholder">
		<!-- <div id="cartTable"></div> -->
		<!-- <div id="deliverySelector">
			<span>Выберите способ доставки:</span>
			<select>
				{% for option in page.delivery_methods.all() %}
					<option id="{{ option.id }}" value="{{ option.cost }}" name="{{ option.title }}">
						{{ option.title }} - {{ option.cost }} руб.
					</option>
				{% endfor %}
			</select>
		</div> -->
		<!-- <div class="checkout-btn-panel">
			<a id="checkoutBtn" href="#client" class="btn btn-default">Оформить заказ</a>
		</div> -->
	</article>

	<script id="cartEmptyTeplate" type="text/template">
		<div style="text-align: center; display: block; width: 100%;">
			<h4>Корзина пуста</h4>
			<span class="empty_letter">Пожалуйста вернитесь в <a href="/catalog/">Каталог</a></span>
		</div>
	</script>

	<script id="deliverViewTemplate" type="text/template"">
		<div id="deliverySelector">
			<span>Выберите способ доставки:</span>
			<select>
				{% for option in page.delivery_methods.all() %}
					<option id="{{ option.id }}" value="{{ option.cost }}" name="{{ option.title }}">
						{{ option.title }} - {{ option.cost }} руб.
					</option>
				{% endfor %}
			</select>
		</div>
		<div class="checkout-btn-panel">
			<a id="checkoutBtn" href="#client" class="btn btn-default">Оформить заказ</a>
		</div>
	</script>

	<script id="mainViewTemplate" type="text/template">
		<!-- <div id="cartTable"> -->
			<div id="delveryInfo" class="table-row">
				<div class="table-cell blank"> </div>
				<div class="table-cell blank"></div>
				<div class="title table-cell"></div>
				<div class="table-cell blank"></div>
				<div class="table-cell blank"></div>
				<div class="table-cell blank"></div>
				<div class="cost table-cell"></div>
			</div>
			<div id="totalInfo" class="table-row">
				<div class="table-cell blank"> </div>
				<div class="table-cell blank"></div>
				<div class="table-cell blank"></div>
				<div class="table-cell blank"></div>
				<div class="table-cell blank"></div>
				<div class="table-cell total-title col-xs-6"><b>Итого</b></div>
				<div class="total-cost table-cell">
					<b></b>
					<span>руб.</span>
				</div>
			</div>
		</div>
			<!-- <div id="deliverySelector">
				<span>Выберите способ доставки:</span>
				<select>
					{% for option in page.delivery_methods.all() %}
						<option id="{{ option.id }}" value="{{ option.cost }}" name="{{ option.title }}">
							{{ option.title }} - {{ option.cost }} руб.
						</option>
					{% endfor %}
				</select>
			</div>
			<div class="checkout-btn-panel">
				<a id="checkoutBtn" href="#client" class="btn btn-default">Оформить заказ</a>
			</div> -->
	</script>

	<script id="cartItemTemplate" type="text/template">
		<!-- <div id="<%= id %>" class="table-row"> -->
			<div class="table-cell number"><%= number %></div>
			<div class="table-cell image">
				<a href="<%= url %>">
					<img src="<%= image_url %>" alt="<%= image_alt %>" style="width:100%; max-width: 150px;">
				</a>
			</div>
			<div class="table-cell title"><%= title %></div>
			<div class="table-cell weight">
				<span class="items-weight"><%= weight %> гр.</span>
			</div>
			<div class="table-cell amnt">
				<div class="col-xs-12">
					<div class="col-xs-4">
						<button type="button" name="<%= id %>" class="btn btn-link btn-decrease">
							<img name="<%= id %>" src="/static/icons/left.png" alt="<">
						</button>
					</div>
					<div class="col-xs-4">
						<span class="amount"><%= amount %></span>
					</div>
					<div class="col-xs-4">
						<button type="button" name="<%= id %>" class="btn btn-link btn-increase">
							<img name="<%= id %>" src="/static/icons/right.png" alt=">">
						</button>
					</div>
				</div>
			</div>
			<div class="table-cell remove">
				<button type="button" name="<%= id %>" class="btn btn-link btn-remove">
					<img name="<%= id %>" src="/static/icons/delete.png" alt="x">
					<span name="<%= id %>">Удалить</span>
				</button>
			</div class="table-cell">
			<div class="items-cost table-cell"><%= total_cost %> руб.</div>
		<!-- </div> -->
	</script>

	<script id="clientViewTemplate" type="text/template">
		<form id="customerForm" action="/payment/" class="form-horizontal" method="POST">
			<div class="form-group back_btn-panel" style="text-align: center;">
				<a href="#back" class="btn btn-default">Вернуться в козину</a>
			</div>
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
			{% for field in customer_form %}
				<div class="form-group {% if field.errors %}has-error{% endif %}">
					<label class="col-sm-2 col-xs-12 control-label" for="{{ field.label }}">{{ field.label }}</label>
					<div class="col-sm-10 col-xs-12">{{ field }}</div>
					{% for error in field.errors %}
						<span class="help-block">{{ error }}</span>
					{% endfor %}
				</div>
			{% endfor %}
			<div class="form-group btn-panel">
				<button type="submit" class="btn btn-default btn-buy">Оплатить</button>
			</div>
		</form>
	</script>
</div>


{% endblock %}


{% block extra_js %}
	{% set default_delivery_method = page.delivery_methods.first() %}
	{% set min_total_cost = page.min_total_cost %}
	<script type="text/javascript">
		const default_delivery_title = '{{ default_delivery_method.title }}'
		const default_delivery_cost = '{{ default_delivery_method.cost }}'
		const default_delivery_id = '{{ default_delivery_method.id }}'
		const min_total_cost = '{{ min_total_cost }}' == 'None' ? 0 : {{ min_total_cost }}
		const item_json_collection = {{ items|safe }}
	</script>
	<!-- <script type="text/javascript" src="/static/cart/js/collections.js"></script> -->
	<!-- <script type="text/javascript" src="/static/cart/js/views.js"></script> -->
<!-- 	<script type="text/javascript" src="/static/js/cart/cartview.js"></script>
	<script type="text/javascript" src="/static/js/cart/clientview.js"></script> -->
	<!-- <script type="text/javascript" src="/static/cart/js/router.js"></script> -->
	<script type="text/javascript" src="/static/cart/js/build/cart.min.js"></script>
{% endblock %}
