<html>
	<head>
	</head>
	<body>
		<div>
			{{ message_text|richtext }}
		</div>
		<div>
		<h4>СОДЕРЖИМОЕ ЗАКАЗА</h4>
			<div style="text-align: justify; width: 100%;">
				{% for item in items %}
					<div style="display: inline-block; width: 30%">
						<a href="{{ item['url'] }}" style="text-decoration: none;">
							<b style="display: block;">{{ loop.index }} {{ item['title'] }}</b>
							<img src="{{ image }}" style="width: 100%; display: block;">
							<div style="display: block;">
								<span style="display: inline-block; width: 49%;">Вес: </span>
								<strong style="display: inline-block; text-align: right;  width: 49%;">{{ item['weight'] }} гр.</strong>
							</div>
							<div style="display: block;">
								<span style="display: inline-block; width: 49%;">Стоимость: </span>
								<strong style="display: inline-block; text-align: right;  width: 49%;">{{ item['cost'] }} руб.</strong>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
		<div>
			<h4>ДОСТАВКА</h4>
			<div style="display: block;">
				<span style="display: inline-block;">Тип достаки: </span>
				<span style="display: inline-block;">{{ delivery.title }}</span>
			</div>
			<div style="display: block;">
				<span style="display: inline-block;">Стоимость достаки: </span>
				<span style="display: inline-block;">{{ delivery.cost }} руб.</span>
			</div>
		</div>
		<div>
			<h4>ОБЩАЯ СТОИМОСТЬ</h4>
			<div style="display: block;">
				<b>{{ total }} руб.</b>
			</div>
		</div>
	</body>
</html>
