{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/catalog/css/base.css">
	<link rel="stylesheet" href="/static/catalog/css/full.css">
	<link rel="stylesheet" href="/static/catalog/css/middle.css">
	<link rel="stylesheet" href="/static/catalog/css/mobile.css">
{% endblock %}

{% block content %}
	<article class="container">
		<div class=" container-breadcrumb" style="text-align: center;">
			{{ page.fail_text|richtext }}					
		</div>
	</article>
	
{% endblock %}
