{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/catalog/css/base.css">
	<link rel="stylesheet" href="/static/catalog/css/full.css">
	<link rel="stylesheet" href="/static/catalog/css/middle.css">
	<link rel="stylesheet" href="/static/catalog/css/mobile.css">
{% endblock %}

{% block content %}
	<article class="container">
		<div class=" container-breadcrumb" style="text-align: center;">
			{{ page.success_text|richtext }}					
		</div>
		<div>
		{% for item in items %}
			<h3>СОДЕРЖИМОЕ ВАШЕГО ЗАКАЗА</h3>
			<div class="tile-item col-md-3 col-sm-4 col-xs-12">
				<div class="jumbotron">
					<div class="row row-img">
						{% set feed_image = image(item.image, 'fill-240x240') %}
						<a href="{{ item.url }}">
							<img style="width: 100%" src="{{ feed_image.url }}" alt="{{ feed_image.title }}">
						</a>
					</div>
					<div class="row row-title">
						<strong>{{ item.title }}</strong>
					</div>
					<div class="row row-short">
						<span>{{ item.short }}</span>
					</div>
					<div class="row row-params">
						<div class="col-xs-4 cell-weight">
							<i>{{ item.weight }} гр.</i>
						</div>
						<div class="col-xs-4 cell-sale">
						</div>
						<div class="col-xs-4 cell-cost">
							<strong>{{ item.cost }} руб.</strong>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</article>
	
{% endblock %}

{% block prevent_scripts %}
	<script type="text/javascript">
		Cookies.remove('delivery_options')
		Cookies.remove('cart_amount')
	</script>
{% endblock %}
