{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/catalog/css/build/catalog.min.css">
{% endblock %}

{% block content %}

	{% set parent = page.get_parent() %}

	<div id="catalogBody" class="container">
		<div class="container container-breadcrumb">
			<div class="col-xs-4 breadcrumb-marker breadcrumb-marker-left">
				<img src="/static/icons/breadcrumbs_mark.png" alt="-">
			</div>

			<ol class="col-xs-12 col-sm-4 breadcrumb">
				<li><a href="{{ root.url }}">{{ root.title }}</a></li>
				{% if parent != root %}
				<li><a href="{{ parent.url }}">{{ parent.title }}</a></li>
				{% endif %}
				<li class="active">{{ page.title }}</li>
			</ol>
			<div class="col-xs-4 breadcrumb-marker breadcrumb-marker-right">
				<img src="/static/icons/breadcrumbs_mark.png" alt="-">
			</div>
		</div>
		<h1 id="notationTitle">
		{% if page.h1_title %}
			{{ page.h1_title }}
		{% else %}
			{{ page.title }}
		{% endif %}
		</h1>

		<aside id="filter" class="jumbotron collapse">
			<ul id="childItems" class="nav nav-navbar nav-stacked"></ul>
			<ul id="filterItems" class="nav nav-navbar nav-stacked"></ul>
		</aside>

		<div id="catalog">
			<div id="notationDescription">
				{{ page.description|richtext }}
			</div>
			<div id="tileItems"></div>
			<nav id="tilepagination">
			</nav>
		</div>
	</div>

	<script id="filterItemTemplate" type="text/template">
		<b><%= title %></b>
		<% $.each(options, function(index, option) { %>
			<label class="col-xs-9 col-xs-offset-3" style="padding: 0px;">
				<% if (~filters_string.indexOf(field_name + '=' + option.value )) { %>
					<input type="checkbox" checked class="btn-filter" name="<%= field_name %>" value="<%= option.value %>">
				<% } else { %>
					<input type="checkbox" class="btn-filter" name="<%= field_name %>" value="<%= option.value %>">
				<% } %>
				<%= option.label %>
			</label>
		<% }) %>
	</script>

	<script id="childrenItemtemplate" type="text/template">
		<div id="child_<%= id %>" class="filter-item <%= is_active %>">
			<a href="<%= url %>">
				<div class="col-xs-3 col-sm-3">
					<img class="marker" src="/static/icons/list_red_mark.png" alt="-">
				</div>
				<div class="col-xs-9 col-sm-9">
					<span><%= title %></span>
				</div>
			</a>	
		</div>
	</script>

	<script id="tileItemTemplate" type="text/template">
		{{ page.data_model.item_template|safe }}
	</script>

	<script id="itemCollectionEmptyTemplate" type="text/template">
		<span class="empty_letter">Доступных товаров для продажи не найдено.</span>
	</script>

	<script id="paginationItemTemplate" type="text/template">
		<li class="<%= is_active %> pagination-item">
			<a class="btn-page" href="#<%= url %>"><%= number %></a>
		</li>
	</script>

	<script id="paginationTemplate" type="text/template">
		<ul class="pagination">
			<li class="btn-page btn-page-prev <%= prev_class %>">
				<a aria-label="Previous" href="#<%= prev_url %>">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
		</ul>
		<ul class="pagination pagination-body"></ul>
		<ul class="pagination">
			<li class="btn-page btn-page-next <%= next_class %>">
				<a aria-label="Next" href="#<%= next_url %>">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</script>

{% endblock %}

{% block extra_js %}
	{% set parent = page.get_parent() %}
	{% set data_model = page.data_model %}
	<script type="text/javascript">
		const item_api_url = '/api/v1/pages/?type={{ data_model.page_type }}&fields={{ page.data_model.page_fields }}&descendant_of={{ page.id }}&limit={{ page.data_model.limit }}'
		const filter_api_url = '/api/filters/?data_model={{ page.data_model.id }}'
		const catalog_api_url = '/api/v1/pages/?type=catalog.CatalogPage&fields=url'

		const item_api_limit = {{ page.data_model.limit }}

		const page_parent_url = '{{ parent.url }}'
		const page_url = '{{ page.url }}'
		const root_url = '{{ root.url }}'

		const parent_id = {{ parent.id }}
		const page_id = {{ page.id }}
	</script>

	<script type="text/javascript" src="/static/catalog/js/build/catalog.min.js"></script>

{% endblock %}
